html {
  margin: 0;
  background-image: url("./background.jpg");
  background-size: 100% 100%;
}
body {
  margin:0;
}
p {
  font-family: Ubuntu, sans-serif;
  padding: 2px;
  color: #fff;
  font-size: 14px;
}
.infobox {
  background-color: #010040;
  padding:3px;
  outline: 3px solid white;
}
/*make sure infobox displays properly on mobile*/
body .infobox {
  /*margin-left&right keep box centered inside body*/
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 7px;
}
.lobster {
  font-family: 'Lobster', cursive;
  color: #fff;
}
.box {
  border: 3px solid white;
  background-color: #010040;
  padding: 3px;
}
.topleft {
  left:0%;
  top: 0%;
}
/*controls button bar itself*/
.collapsible {
  background-color: #010040;
  color: #FFF;
  cursor: pointer;
  padding: 18px;
  width: 80%;
  border: none;
  text-align: left;
  outline: 3px solid white;
  font-size: 18px;
  font-family: "Ubuntu", sans-serif;
  font-weight: bold;
  float:bottom;
  margin-left: 5%;
  margin-right: 2%;
  margin-top: 7px;
}
.active, .collapsible:hover {
  background-color: #022050;
}
.content {
  width:80%;
  padding: 0 18px;
  display: none;
  margin-left: 5%;
  border-bottom: 3px solid white;
  border-left: 3px solid white;
  border-right: 3px solid white;
  overflow: hidden;
  background-color: #022050;
    float: right, bottom;
}
.SubSidebar {
  position: fixed;
  bottom: 0px;
  left: 0px;
  padding: 0px
}
.collapsible:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: white;
    float: Left;
    margin-left: 5px;
}

.active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #F96;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
/* Place the navbar at the bottom of the page, and make it stick */
.navbar {
  background-color: #100040;
  overflow: hidden;
  position: fixed;
  bottom: 0%;
  left: 0%;
  width: 100%;
}
/* Style the links inside the navigation bar */
.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  padding: 0.5% 0.1%;
  text-decoration: none;
  font-size:
}
.content a {
  float: left;
  display: block;
  color: #f2f2f2;
  padding: 0.5% 0.1%;
  text-decoration: none;
  font-size:
}
.postsub {
  font-size: 12px;
  color: #CCCCCC;
}
h4 {
  color: #FFFFFF;
}
